@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(circle at 50% 50%, #192233 20%, #000);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.text{
    flex-direction: row;
}
#img{
    width: 100px;
    justify-content: center;
}

.hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -20px;
    margin-bottom: 50px;
    margin-left: 80px;
}

.hero h1 span{
    color: #7890fb;
    margin-right: 8px;
}

textarea{
    width: 600px;
    height: 250px;
    background: #163c39;

    color: #fff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}

textarea::placeholder{
    font-size: 16px;
    color:#ddd;
}

.row{
    width: 600px;
    display: flex;
    align-items: center;
    gap: 20px;
}

select{
    flex: 1;
    color: #fff;
    background: #163c39;

    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url(images/seta-para-baixo.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px;
    cursor: pointer;
}

button{
    background: #7890fb;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .2s;
}

button:hover{
    transform: scale(1.02);
}

button img{
    width: 16px;
    margin:10px;
}

ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

li{
    text-decoration: none;
    list-style: none;
    font-size: 50px;
    transition: .2s;
}

i{
    color: #fff;
}

li:hover{
    transform: scale(1.02);
}

i:hover{
    color: #7890fb;
}

.social span{
    font-size: 12px;
}

@media(max-width:480px){
    .row{
        flex-direction: column;
        height: 150px;
    }
    select{
        width: 60%;
        background-position-y: 30px;
    }
    .social{
        margin-top: 20px;
    }
    textarea{
        width: 80%;
    }
}